<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Student Assignment Explained</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href='http://fonts.googleapis.com/css?family=Nunito:400,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="font-awesome-4.0.3/css/font-awesome.min.css">
        <link rel="stylesheet" href="leaflet-0.7.2/leaflet.css" />
        <link rel="stylesheet" href="leaflet-0.7.2/leaflet.awesome-markers.css">
        <script src="js/vendor/modernizr-2.6.2.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

    <div id="wrapper">

        <h1>Student Assignment Explained</h1>

        <p class="lead">DC is currently reviewing its policies for how students are assigned to DC Public Schools. The advisory committee that will make policy recommendations has released the potential changes that it is considering. How would these new policies affect you and your family?</p>
        <p>We are an independent civic group called <a href="http://codefordc.org" target="_blank">Code for DC</a>. We took the proposals created by the advisory committee and made this website to help explain what these policies would mean for you. As you learn about the potential changes, you can tell us what you think. We will collect everyone's responses, and share them with the advisory committee.</p>

        <div id="no-js" class="warning">
            <p>This website needs Javascript to be turned on. You can do this in your web browser's settings, or you might try another browser.</p>
        </div>

        <section id="address-form">

            <h2>Your Address</h2>

            <input type="text" id="address" placeholder="Street address" /><button id="address-validate">Get Started</button>

            <p class="note">When we share your responses, we'll first obscure your address to protect your privacy. "1600 Pennsylvania Ave" would become "16XX Pennsylvania Ave."</p>

        </section>

        <div id="renderedTemplate"></div>

    </div>

    <script type="text/template" id="template">

        <section id="boundaries">

            <h2>School Boundaries</h2>

            <p>Every address in DC is assigned to a school boundary, which gives students living within that boundary the right to attend a specified school or schools. These boundaries have not been comprehensively reviewed since the 1970s, even as many schools have opened or closed and the city's population has changed.</p>

            <p>Under the new boundary proposal, your school boundary would be unchanged. This means your current neighborhood elementary school will continue to draw from the same population of students.</p>

            <p>Under the new boundary proposal, your current school boundary would be {{change}}. Despite this change, you would continue to be assigned to your current neighborhood elementary school.</p>

            <p>Under the new boundary proposal, your address would be assigned to a different school boundary, which was {{change}}. This means that instead of being assigned to {{old_school}} you would be assigned to {{new_school}}.</p>

            <div class="row">
                <div class="map-wrapper"><div id="boundary-map" class="map"></div></div>
            </div>

            <%= helpers.feedbackForm({ id: 'q1' }) %>

        </section>

        <section id="feeder-patterns">

            <h2>Feeder Patterns</h2>

            <p>Every traditional elementary school "feeds" its students to a middle and a high school. These groups of schools are known as "feeder patterns." In some cases, these patterns are currently inconsistent or result in overcrowded schools.</p>

            <p>The advisory committee has proposed changes to the feeder patterns. Your current feeder pattern, however, would remain the same under this proposal.</p>

            <p>We're missing information about your current feeder pattern. This could be the result of a school closing, or it might just be our fault (sorry!). We are able to show your proposed feeder pattern.</p>

            <p>The boundaries proposal (see above) would change the elementary school you are zoned for. As a result, we are showing the proposed feeder pattern of this new school boundary.</p>

            <p>The advisory committee has proposed changing your feeder pattern.</p>

            <%= helpers.feedbackForm({ id: 'q2' }) %>

        </section>

        <section id="es-choice-sets">

        <h2>Elementary School Choice Sets</h2>

            <p>Currently, all DC students are guaranteed access to a neighborhood elementary school based on where they live. One potential policy change being considered by the advisory committee would replace this single school of right with a "school choice set."</p>
            <p>Families would rank the three or four schools in their assigned choice set. If more students select a school than it has spaces, the result would be determined by a lottery. Students would be guaranteed access to one of the schools in the choice set, but not to a specific school.</p>
            
            <%= helpers.feedbackForm({ id: 'q3' }) %>

        </section>

        <section id="ms-choice-sets">

            <h2>Middle School Choice Sets</h2>

            <p>Similar to elementary school choice sets (see above), the advisory committee is considering choice sets for middle schools. Students would be guaranteed access to one of the schools in the choice set, but not a specific school.</p>

            <p>This proposal would likely be coupled with a plan to give every middle school a special focus. Some examples might include two-language instruction or an emphasis on science, technology, engineering and math (STEM). Which schools would focus on which topics has not been proposed at this time.</p>
            
            <%= helpers.feedbackForm({ id: 'q4' }) %>

        </section>

        <section id="ms-proximity">

            <h2>Choice of Two Closest Middle Schools</h2>

            <p>Instead of the current single school of right or the middle school choice sets (see above), the advisory committee is also considering guaranteeing access to the two schools closest to a student's home. Students would choose which of these schools they prefer but would not be guaranteed access to a specific school.</p>
            
            <%= helpers.feedbackForm({ id: 'q5' }) %>

        </section>

        <section id="hs-lottery">
        
            <h2>Citywide Lottery</h2>

            <p>Like elementary and middle schools, each student is currently guaranteed access to a single high school based on where they live. The advisory committee is considering removing high schools from this system.</p>
            
            <%= helpers.feedbackForm({ id: 'q6' }) %>

        </section>

        <section id="set-asides">

            <h2>Set-Asides</h2>
            
            <%= helpers.feedbackForm({ id: 'q7' }) %>

        </section>

    </script>

    <script type="text/template" id="feedback-form-template">

        <h3>What do you think?</h3>

        <ul id="<%= id %>-likert" class="graphic-likert">
            <li>
                <input type="radio" name="<%= id %>" value="1" id="<%= id %>-1" />
                <label for="<%= id %>-1" class="angry">Strongly Dislike</label>
            </li>
            <li>
                <input type="radio" name="<%= id %>" value="2" id="<%= id %>-2" />
                <label for="<%= id %>-2" class="sad">Dislike</label>
            </li>
            <li>
                <input type="radio" name="<%= id %>" value="3" id="<%= id %>-3" />
                <label for="<%= id %>-3" class="neutral">Neutral</label>
            </li>
            <li>
                <input type="radio" name="<%= id %>" value="4" id="<%= id %>-4" />
                <label for="<%= id %>-4" class="happy">Like</label>
            </li>
            <li>
                <input type="radio" name="<%= id %>" value="5" id="<%= id %>-5" />
                <label for="<%= id %>-5" class="excited">Strongly Like</label>
            </li>
        </ul>

    </script>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
    <script src="js/vendor/lodash.min.js"></script>
    <script src="leaflet-0.7.2/leaflet.js"></script>
    <script src="leaflet-0.7.2/leaflet-pip.min.js"></script>
    <script src="leaflet-0.7.2/leaflet.awesome-markers.js"></script>
    <!--<script src="js/plugins.js"></script>-->
    <script src="js/main.js"></script>

    <script>
        (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
        function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
        e=o.createElement(i);r=o.getElementsByTagName(i)[0];
        e.src='//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
        ga('create','UA-XXXXX-X');ga('send','pageview');
    </script>
    </body>
</html>
